{
  "arrowParens": "always",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ],
  "plugins": ["@prettier/plugin-xml", "prettier-plugin-apex"],
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "none",
  "xmlWhitespaceSensitivity": "ignore"
}
