{
    "arrowParens": "always",
    "overrides": [
        {
            "files": "*.{cmp,page,component}",
            "options": { "parser": "html" }
        },
        {
            "files": "**/lwc/**/*.html",
            "options": { "parser": "lwc" }
        }
    ],
    "printWidth": 100,
    "tabWidth": 2,
    "trailingComma": "none"
}
